<link rel="import" href="../Polymer/polymer/polymer.html">

<polymer-element name="item-element" draggable="true">

  <template>
  <style>
	:host{
		width:15%;
		height:15%;
		position:absolute;
	}
	[draggable] {
	  -moz-user-select: none;
	  -khtml-user-select: none;
	  -webkit-user-select: none;
	  user-select: none;
	  /* Required to make elements draggable in old WebKit */
	  -khtml-user-drag: element;
	  -webkit-user-drag: element;
	}
	</style>
  </template>

  <script>

    Polymer({
		ready: function(){
			  this.addEventListener('dragstart', this.handleDragStart, false);
			  this.addEventListener('dragenter', this.handleDragEnter, false);
			  this.addEventListener('dragover', this.handleDragOver, false);
			  this.addEventListener('dragleave', this.handleDragLeave, false);
			  this.addEventListener('dragend', this.handleDragEnd, false);
			  this.addEventListener('click', this.clickProptrigger, false);
		},
    clickProptrigger: function(e){
      $('#proptype').text(e.target.tagName);
    },
		handleDragStart:function (e) {
				  this.style.opacity = '0.4';
				  e.dataTransfer.effectAllowed = 'move';
				  e.dataTransfer.setData('text/html', this.outerHTML);

		},
		handleDragOver:	function (e) {
				  if (e.preventDefault) {
					e.preventDefault();
				  }

				  e.dataTransfer.dropEffect = 'move';

				  return false;
			},

		handleDragEnter:function (e) {
				  //this.classList.add('over');
			},

		handleDragLeave:function (e) {
				  //this.classList.remove('over');
			},
		handleDragEnd:function (e) {
					//this.classList.remove('over');
					this.remove();
			}
    });

  </script>

</polymer-element>
